<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>grumblr</title>
    <link href="/static/css/grumblr/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/css/grumblr/global_post.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery-2.1.4.js" ></script>
</head>
<body>

    <div class="topbar">
        <div id="title_text">
            <a href="/home">Grumblr</a>
        </div>
        <div class="log_btn">
            <a href="/login">Log Out</a>
        </div>
        <a href="/profile" style="font-size:18px;float:right;font-weight:normal;text-decoration:underline;margin-right:10px;">
            {{ user.userprofile.get_name }}
        </a>
    </div>


    <div class="content">
        {% block content %}{% endblock %}
    </div>


</body>
</html>