{% extends 'grumblr/base.html' %}

{% block content %}
        <div class="image_bg">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 " style="position:relative;height:600px;">
                <div class="login_div">
                    <div>
                        <h1>Grumblr</h1>
                        <p>Reset Your Password...</p>
                        <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input class = "log_btn" type="submit" value="Send A Reset Email"></button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}