.clear_float{
    clear:both;
}

body {
    background-color: #E6EE9C;
}

.topbar {

    background-color: #8BC34A;
    color:#fafafa;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:30px;

    height: 50px;
    line-height: 50px;
    width: 100%;

    position:fixed;
    top: 0;
    right: 0;

    z-index:100;

    box-shadow: 3px 3px 3px #888;
}

#title_text {
    float:left;
    margin-left:10px;
}

a, a:hover, a:focus {
    color:#fafafa;
    text-decoration: none;
}

.log_btn {
    color:#fafafa;
    background-color: rgba(238,238,238,0.5);
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:15px;

    height:40px;
    line-height:40px;
    padding-left:5px;
    padding-right:5px;
    margin-right:10px;
    margin-top:5px;

    border-radius:5px;
    float:right;

}

.log_btn:hover {
    background-color: rgba(238,238,238,1);
}

.log_btn span{
    color:#fafafa;
}

.navbar_shades {
    background-color: #9E9E9E;
    opacity:0.5;
    height: 5px;
    width: 100%;
    position:fixed;
    top: 50px;
    right: 0;
}

.content{
    margin-top:50px;
}

.newpost{
    padding:10px;
}

.newpost textarea{
    border-style:solid;
    border-width:1px;
    margin:5px;

    width: 100%;
    border-color: #8BC34A;
    resize:none;
    float:right;
}

.newpost .submit_btn{
    color:#fafafa;
    font-family: Arial, sans-serif;
    font-size:15px;
    background-color: #8BC34A;
    border-width:0px;
    border-radius:5px;
    height: 40px;

    margin:5px;

    float:right;
}

.newpost .editor{
    width: 85%;
    float:right;

}
.newpost .submit_btn:hover{
    background-color:#33691E;
}

.newpost .image_btn{
    background: url("../images/ic_action_camera.png") no-repeat top left;
    background-size: 100% 140%;
    background-position: 0px -10px;
    border-width: 0;
    margin:5px;
    height:40px;
    width:60px;
}

.newpost .image_btn:hover{
    background-color: rgba(238,238,238,0.5);
}

.photo {
    width:80px;
    height:80px;
    float:left;
    margin:5px;
}

.grumble{
    margin:10px;
    border-style:solid;
    border-width:1px;
    border-color:#8BC34A;
    background-color:#fafafa;
    padding:10px;
    font-family:Arial, sans-serif;
    font-color: #424242;
    box-shadow: 3px 3px 3px #888;
}

.grumble .user_name{
    pading:0px;
    margin:0px;
}

.grumble > div:first-of-type{
    float:left;
    width:15%;
    font-family:Arial, sans-serif;
    font-size:17px;
    font-color: #424242;
    font-weight: bold;
}

.grumble > div:nth-of-type(2){
    float:left;
    width:80%;
}

.grumble .grumble_text{
    padding:5px;
    margin-bottom:-30px;
}

.grumble .text{

    vertical-align: baseline;

}

.grumble .quotes{
    font-family:Arial, sans-serif;
    font-size:50px;
    font-color: #424242;
    font-weight: bold;
}

.grumble .grumble_content{
    float:right;
}
.grumble .quotes2{
    font-family:Arial, sans-serif;
    font-size:50px;
    font-color: #424242;
    font-weight: bold;
    vertical-align: text-top;
}

.grumble .grumble_time{
    float:right;

}

.grumble .grumble_image{
    width:80%;
    margin:5px;
}

.profile_pane{
    background-color:#fafafa;
    height:300px;
}

.profile_pane{
    background: url("../images/beach.jpg") no-repeat;
    background-size:100% 150%;
    box-shadow: 3px 3px 3px #888;
}

.user_info{
    padding:10px;
    margin-top:20px;
}
.user_info_photo{
    width:200px;
    height:200px;
    border-style: solid;
    border-color: #fafafa;
    border-radius: 10px;
    border-width: 5px;
}

.user_info_name{
    font-family:Arial, sans-serif;
    font-size:30px;
    color: #fafafa;
    font-weight: bold;
    margin-bottom: 0;


}

.user_info_table{
    background-color:#8BC34A;
    border-style: solid;
    border-color: #E6EE9C;
    border-radius: 10px;
    border-width: 5px;

    font-family:Arial, sans-serif;
    font-size:20px;
    color: #fafafa;
    font-weight: bold;

    padding:5px;
}

.signature_pane{
    position:relative;
    height:300px;

}
.profile_pane .signature{
    font-family:Arial, sans-serif;
    font-size:40px;
    height:200px;
    line-height:200px;
    color: #fafafa;
    font-weight: bold;

    position:absolute;
    margin:-100px;
    top:50%;
}

.signature_quotes1{
    font-size:90px;
}
.signature_quotes2{
    font-size:90px;
}

.history_post h3{
    color:#8BC34A;
    font-size:20px;
}

.image_bg{
    background: url("../images/coffee.jpeg") no-repeat 0 0;
    background-size:100% 100%;
    height:600px;
    width:100%;


}

.login_div{
    height:400px;
    margin:0 auto;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #8BC34A;
    border-radius: 10px;
    background-color:rgba(139,195,74,0.5);
    width:100%;

    position:absolute;
    top:50%;
    margin-top:-200px;

}

.login_div div{

    width:70%;
    margin:0 auto;
    padding:0;

}
.login_div h1{
    font-family:Arial, sans-serif;
    font-size:60px;
    color: #fafafa;
    font-weight: bold;
    text-align: center;
}

.login_div form{
    margin:0;
    padding:0;
}

.login_div p{
    font-family:Arial, sans-serif;
    font-size:16px;
    color: #fafafa;
    text-align: center;
}

.login_div .log_btn{
    float:none;
    margin:5px;
}

.login_div textarea{
    width:98%;
    resize:none;
    border-radius:5px;
    border-width:0;
    margin:5px;
    padding:5px;
    font-size:18px;
}

.login_div input{
    width: 98%;
}

.signup_div{
    height: 450px;
}
